<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href = {% static 'task.css' %}>
    <link rel="stylesheet" href={% static 'bootstrap-5.2.0-dist/css/bootstrap.min.css' %}>
    <title>Tasks</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid text-white">
          <a class="navbar-brand" href="#">List</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" id="home" href="/"  aria-current="page">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/task" >Task</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <h1 class="text-center">Tasks to be done</h1><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Time before you should finish the task</th>
                <th scope="col">Task Description</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        {% for task in alltask %}
        <tbody>
            <tr>
                <th scope="row">{{task.Name}}</th>
                <td>{{task.Age}}</td>
                <td>{{task.Time}}</td>
                <td>{{task.Desc}}</td>
                <td><a class="btn btn-success" href="update/{{task.id}}" role="button">Update</a></td>
                <td><a class="btn btn-danger" href="delete/{{task.id}}" role="button">Delete</a></td>
            </tr>
        </tbody>
        {% endfor %}
        
    </table>
</body>

</html>